<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Bazaar Books
    </p>
    <p class="subtitle">
      <%= @books.total_count %> titles and counting.
    </p>
  </div>
</section>
<div class="section">
  <div class="section">
    <p class="title"><%= @page_title %></p>
    <%= paginate @books %>
  </div>
  <div class="columns">
    <div class="column">
      <div class="container ml-6">
        <aside class="menu">
          <strong>
            <p class="menu-label">
              Genres
            </p>
          </strong>
          <ul class="menu-list">
            <li>
              <a href="<%= books_by_genre_path(genre_id: 0) %>">
                <span class="has-text-link">All</span>
                (<em><%= @genres.map { |genre| genre.books.count }.sum %>)</em>
              </a>
            </li>
            <% @genres.each do |genre| %>
              <li>
                <a href="<%= books_by_genre_path(genre_id: genre.id) %>">
                  <span class="has-text-link"><%= genre.name %></span>
                  (<em><%= Book.joins(:genres).where(genres: { id: genre.id }).count %>)</em>
                </a>
              </li>
            <% end %>
          </ul>
        </aside>
      </div>
    </div>
    <div class="column is-9">
      <% @books.order(created_at: :asc).in_groups_of(5, false) do |batch| %>
        <div class="block">
          <nav class="columns is-multiline is-centered">
            <% batch.compact.each do |book| %>
              <div class="column">
                <%= render partial: 'layouts/book', locals: { book: book } %>
              </div>
            <% end %>
          </nav>
        </div>
      <% end %>
    </div>
  </div>
</div>
