<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      View Order
    </p>
    <p class="subtitle">
      #<%= @order.id %>
    </p>
  </div>
</section>
<div class="tabs is-centered is-medium">
  <ul>
    <li class="tab-item">
      <%= link_to(current_user) do %>
        <span class="icon is-small"><i class="fas fa-user" aria-hidden="true"></i></span>
        <span>Profile</span>
      <% end %>
    </li>
    <li class="tab-item is-active">
      <%= link_to(user_orders_path(current_user)) do %>
        <span class="icon is-small"><i class="fas fa-clipboard-list" aria-hidden="true"></i></span>
        <span>Orders <sup><em>(<%= current_user.orders.count %>)</em></sup></span>
      <% end %>
    </li>
  </ul>
</div>
<div class="container">
  <section class="section">
    <%= @order.id %>
    <%= @order.order_status %>
    <%= @order.payment_status %>
    <%= @order.payment_method %>
    <%= @order.created_at %>
  </section>
  <div class="columns is-centered">
    <div class="column is-half">
      <table class="table is-hoverable is-fullwidth is-striped">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Title</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.each do |item| %>
            <tr>
              <td><%= image_tag item.book.image %></td>
              <th><%= link_to item.book.title, book_path(item.book_id) %></th>
              <th><%= item.unit_quantity %></th>
              <th><%= item.unit_price %></th>
              <th><%= item.subtotal %></th>
            </tr>
          <% end %>
        </tbody>
        <tr>
          <thead>
            <tr>
              <th>Total</th>
            </tr>
          </thead>
          <th>$<%= @order.total_amount %></th>
        </tr>
      </table>
    </div>
  </div>
</div>
